/* .a-section{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
    box-sizing: border-box;
    margin-bottom: 0!important;
    background: #EAEDED;
    margin: 0 auto;
    max-width: none;
    min-width: 1000px;
    overflow: hidden;
} */